body {
  font-family: 'Segoe UI', sans-serif;
  background: linear-gradient(135deg, #0D1B2A, #1B263B); /* Biru tua */
  margin: 0;
  padding: 0;
  color: #fff;
}

.cv {
  max-width: 800px;
  background: #ffffff; /* putih */
  color: #0D1B2A; /* teks biru tua */
  margin: 40px auto;
  padding: 40px;
  border-radius: 15px;
  box-shadow: 0 15px 40px rgba(0,0,0,0.2);
}

header {
  text-align: center;
  margin-bottom: 30px;
}

header h1 {
  margin: 0;
  font-size: 36px;
  color: #0D1B2A;
}

header p {
  color: #1B263B;
  margin: 3px 0;
}

section {
  margin-bottom: 25px;
}

h2 {
  color: #0D1B2A;
  border-bottom: 2px solid #1B263B;
  padding-bottom: 5px;
  margin-bottom: 10px;
}

.skills {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.skills span {
  background: #0D1B2A; /* biru tua */
  color: white;
  padding: 8px 15px;
  border-radius: 25px;
  font-size: 14px;
}

ul {
  padding-left: 20px;
}

footer {
  text-align: center;
  margin-top: 30px;
  color: #1B263B;
}
